.header {
  line-height: 0.5rem;
  margin: 5rem auto 1.5rem auto;
}

.title {
  text-align: center;
  color: #ffbd61;
  text-transform: capitalize;
  font-size: 3rem;
}

.underline {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background: #3389ff;
  width: 5.5rem;
  height: 0.3rem;
  border-radius: 3px;
}

.card {
  margin: 0 auto;
  background: #fff;
  width: 90vw;
  box-shadow: rgba(154, 149, 149, 0.638) 0px 6px 24px 0px,
    rgba(137, 134, 134, 0.559) 0px 0px 0px 1px;
}

@media screen and (min-width: 760px) {
  .card {
    width: 45vw;
  }
}

/* #3389FF #3ECCCA #FFBD61 */
